body {
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    height: 100%;
    background-color: #B0BEC5;
    background-repeat: no-repeat
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}

.logo2{
    width: 200px;
    margin-top: 20px;
    margin-left: 35px
}

.logo3{
    width: 150px;
    margin-top: 20px;
    margin-left: 35px
}

.vertical-center{
    display: flex;
    align-items: center;
    min-height: 100%;

}

.border-line {
    border-right: 1px solid #EEEEEE
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.largeLine {
    height: 2px;
    width: 100%;
    background-color: #E0E0E0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.signIn {
    width: 10%;
    font-weight: bold
}
.centerText{
    margin-left: auto;
    margin-right: auto;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }

.table-wrapper-scroll-y {
    display: block;
    }

.text-sm {
    font-size: 14px !important
}

.text-large{
    font-size: 60px !important
}

.RegisterAccountBox{
    text-align: right;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #fbbb21;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1a3b47;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: #fbbb21;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1a3b47
}

.curpText{
    max-width: 18ch;
}

.telNumber{
    max-width: 1ch;
}

.termsText{
    color:blue;
}

.cerrarSesion{
    color: lightgrey
}

.search_categories .select select{
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
  }

  .drop_downBox:hover {
    color: #fbbb21;
    cursor: pointer
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }

    .logoHome{
        width: 50px;
        height: 50px;
        margin-top: 20px;
        margin-left: 35px;
    }
}